.customInput{
    float: right;
    margin-right: 39%;
    margin-left: 1%;
    color: rgb(0, 0, 0);
    width: 50%;
   
    
  
}

#customInput{
     float: left;
     width: 8%;
     display: flex;
     align-items: center;
     display: flex;
     align-items: center;
   
    
  
}
.posiçao{
    float: right;
    margin-right: 20px;
    margin-left: 20px;
   
   


}



.campoValores{
    float: right;
    width: 8%;
}

#primeiroValor{
    margin-right: 1% ;
}
#segundoValor{
    margin-right: 5% ;
}




.customInput {
    display: flex;
    align-items: center;
  }

.customInput .campoValores {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .elementosFoot{
    width: 100%;
    height:35px;

  }

  .btn-primary{
    float: left;
    margin-left: 5%;


  }

  .calculoQuadrado{
    float: right;
    margin-right: 2%;

  }

  math {
    font-size: 30px;
}

.mostaMedia{
  font-size: 25px;

}
.desvioMath{
  font-size: 20px;
}


.tabela{
  font-size: 20px;
}

.formula-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formula2{
  margin-top: 7%;
}

